@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist </h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { required = "required" })

  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty, new { required = "required" })

  @Html.LabelFor(model => model.MonthYearHired)
  @Html.TextBoxFor(model => model.MonthYearHired, new { required = "required" })

  <input type="submit" value="Add new Stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>