@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<div class="card" style="width: 18rem;">
  <h3>Stylist Details:</h3>
  <hr />
  <h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
  <h5>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h5>
  <h5>@Html.DisplayNameFor(model => model.MonthYearHired): @Html.DisplayFor(model => model.MonthYearHired)</h5>
  <br>

  @if (@Model.Clients.Count == 0)
  {
    <h5>No clients have been added to this stylist yet!</h5>
  } 
  else
  {
    <h3>Clients:</h3>
    <ul>
      @foreach (Client client in Model.Clients)
      {
        <li>@Html.ActionLink($"{client.LastName}", "Details", "Clients", new { id = client.ClientId })</li>
      }
    </ul>
  }
</div>

<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>