@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

<p><strong>NOTE:</strong> You need to have at least one stylist before you can add a client!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Stylists") to create a stylist.</p>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)

  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)

  @Html.LabelFor(model => model.Birthday)
  @Html.TextBoxFor(model => model.Birthday)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Add new client" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>